body {
    font-family: Roboto, sans-serif;
    margin: 0;
    height: 100vh;
}

.first-section {
  background-color: #1F2937;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.first-section-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 900px;
}

.header{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 305px;
    margin-bottom: 20px;
}

.logo {
    font-size: 24px;
    color:#F9FAF8;
}

.right-links ul {
    display: flex;
    gap: 20px;
    list-style-type: none;
    color: #E5E7EB;
    font-size: 18px;
}

.introduction {
    display: flex;
    width: 900px;
    justify-content: space-between;
    padding-bottom: 100px;
    align-items: center;
}

.intro-content{
    min-width: 400px;
    max-width: 500px;
}

.intro-title {
    font-size: 48px;
    font-weight: 800;
    color:#F9FAF8;
}

.intro-text{
    color: #E5E7EB;
    font-size: 18px;
    margin-bottom: 5px;
}

.button-1 {
    background-color: #3882f6;
    color:#E5E7EB;
    font-weight:bold;
    border: 2px solid #1F2937;
    border-radius: 8px;
    padding: 8px 16px;
    

}

.second-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-section-content {
    display: flex;
    flex-direction: column;
    width: 800px;
}

.main-title {
    padding: 40px;
    display: flex;
    justify-content: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 800px;
}

.main-media {
    display: flex;
    justify-content: space-around;
    column-gap: 40px;
}

.media{
    display: flex;
    flex-direction: column;
    align-items:center;
}

p {
    text-align: center;
}

.third-section {
background-color: #E5E7EB;
display: flex;
flex-direction: column;
align-items: center;

}

.quote {
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    padding: 80px
}

.main-quote {
    color:#1F2937;
    font-size: 36px;
    font-weight: 300;
}

spam {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-left: auto;
}

.attribution{
    font-weight: 800px;
}

.fourth-section{
 
}
